//colors==//
// $main-bg-color: #c1c9dd;
$sidebar-border-right: #9dbdd6;
$global-border-1: #afc3da;
$global-border-2: #9dbdd6;
$nav-list-link-bg: rgba(3, 129, 255, 0.2);
$active-link-color: rgba(3, 127, 255, 0.396);
