.profileDetails {
  @include small {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    &__profile-img {
      width: 100%;
      // height: 45vh;
      padding-top: 50.5%;
      padding-bottom: 15%;
      background: linear-gradient(
          rgba($primary-black-color, 0.1),
          rgba($primary-black-color, 0.1)
        ),
        url("../assets//images/linkedin.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__about-info {
      margin-top: 0.5rem;
      h4 {
        font-size: calc(2rem + ((1vw - 7.68px) * 0.6944));
      }
    }
    &__info-text {
      padding: 1rem 0;
      font-size: calc(1.1rem + ((1vw - 7.68px) * 0.6944));
    }
    &__about-details {
      display: flex;
      align-items: center;

      p {
        padding: 0.5rem 0;
        font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
      }
    }

    &__left-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 0;
      // width: 20%;
    }
    &__right-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0.5rem;
      // width: 80%;
    }
    &__CV-btn {
      padding: 1rem 2rem;
      background-color: $active-link-color;
      outline: none;
      border: none;
      font-family: inherit;
      font-size: calc(0.875rem + ((1vw - 7.68px) * 0.6944));
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 2px;
      margin-top: 1rem;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0.3rem;
        left: 0;
        bottom: 0;
        background-color: #a4acc4;
        transition: all 0.4s ease-in-out;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  @include profile-d {
    flex-direction: row;
    &__profile-img {
      padding-top: 25%;
      // padding-bottom: 15%;
    }
    &__about-info {
      padding-left: 0.5rem;
    }
    &__about-details {
      p {
        font-size: calc(0.875rem + ((1vw - 7.68px) * 0.6944));
      }
    }
  }
  @include large {
    &__profile-img {
      padding-top: 35%;
      // padding-bottom: 15%;
    }
    &__about-details {
      p {
        font-size: calc(0.8125rem + ((1vw - 7.68px) * 0.6944));
      }
    }
  }
  //
}
