.App {
  @include small {
    &__sidebar {
      width: 40%;
      position: fixed;
      z-index: 11;
      border-right: 1px solid $sidebar-border-right;
      transform-origin: left;
      transform: translate(-100%);
      transition: all 0.3s ease-in-out;
    }

    &__nav-toggle {
      transform: translate(0);
      transition: all 0.3s ease-in-out;
    }
    &__burgerMenu {
      position: absolute;
      z-index: 10;
      right: 8%;
      top: 4%;
      height: 2.5rem;
      width: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(3, 129, 255, 0.144);
      cursor: pointer;

      .fa-bars {
        font-size: calc(1.5rem + ((2vw - 7.68px) * 0.6944));
        color: $primary-text-color;
      }
    }

    &__main-content {
      width: 100%;
      min-height: 100vh;
      display: grid;
      position: relative;
    }
    &__content {
      display: flex;
      padding: 3rem 2rem;
    }

    //=//
  }
  @include medium {
    &__burgerMenu {
      height: 2.8rem;
      width: 2.8rem;
    }
    &__content {
      padding: 3rem 4rem;
    }
  }
  @include large {
    &__sidebar {
      width: 20%;
      transform: translate(0);
      transition: all 0.3s ease-in-out;
    }
    &__nav-toggle {
      display: flex;
      transform: translate(-100%);
      transition: all 0.3s ease-in-out;
    }
    &__burgerMenu {
      display: none;
    }
    &__main-content {
      width: 80%;
      margin-left: 20%;
    }
    &__content {
      padding: 3rem 5rem;
    }
  }
  @include xlarge {
    &__content {
      padding: 3rem 8rem;
    }
  }
  //
}
