@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url("../assets/fonts/MPLUSRounded1c-Black.ttf");
  font-weight: thin;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url("../assets/fonts/MPLUSRounded1c-Bold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url("../assets/fonts/MPLUSRounded1c-ExtraBold.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url("../assets/fonts/MPLUSRounded1c-Light.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url("../assets/fonts/MPLUSRounded1c-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url("../assets/fonts/MPLUSRounded1c-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "M PLUS Rounded 1c", sans-serif;
  src: url("../../assets/fonts/MPLUSRounded1c-Thin.ttf");
  font-style: normal;
  font-display: swap;
}

// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&display=swap');
// @font-face {
//   font-family: "Titillium Web";
//   src: url("../assets/fonts/TitilliumWeb-Regular.ttf");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Titillium Web";
//   src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf");
//   font-weight: Bold;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: "Linotype";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Linotype";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Demi.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Linotype";
  src: url("../assets/fonts/Linotype-AvenirNextLTPro-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
