//colors==//

$primary-text-color: #0f1a23;
$secondary-text-color: #2d506b;
$primary-black-color: #323232;
$sidebar-border-right: #9dbdd6;
$global-border-1: #afc3da;
$global-border-2: #9dbdd6;
$nav-list-link-bg: rgba(3, 129, 255, 0.2);
$active-link-color: rgba(3, 127, 255, 0.396);
$global-blue-color: #004892;

$linkedIn-hover: #0095ff;
$gitHub-hover: rgba(24, 1, 15, 0.733);

//Primary Breakpoints==//
$sm: 400px;
$md: 48em; //768px
$lg: 64em; //1024px
$xl: 75em; //1200px
$xxl: 87em; //1400px

//Secondary breakpoints
$s-section: 31.25em; // 500px @serviceSection
// $s-section: 41.25em; // 500px @serviceSection
$pd: 50em; // 800px @profileDetails /@profil-img
