.skillsSection {
  @include small {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    &__skill-container {
      margin: 0;
      width: 100%;
    }

    &__skill-title {
      font-size: calc(1.1rem + ((1vw - 7.68px) * 0.6944));
      font-weight: 400;
    }
    &__skill-bar {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.2rem 0;
    }
    &__skill-text {
      width: 10%;
      font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
    }
    &__skill-progress {
      width: 90%;
    }
    &__progress {
      display: flex;
      width: 100%;
      height: 0.5rem;
      background-color: #b5fffc;
      position: relative;
    }
    &__inner-progress {
      position: absolute;
      background-color: $global-border-2;
      height: 100%;
      bottom: 0;
      left: 0;
    }
  }
  @include medium {
    width: 49%;
    &:not(:nth-child(2n)) {
      margin-right: 0.8rem;
    }
  }
  //
}
