html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

a,
ul {
  text-decoration: none;
  list-style-type: none;
  color: #323232;
}

p {
  text-decoration: none;
}

span {
  color: #0f1a23;
}

body {
  font-size: 1rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  color: #2d506b;
  background-color: #ffdee9;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ffdee9), to(#b5fffc));
  background-image: linear-gradient(0deg, #ffdee9 30%, #b5fffc 100%);
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #9dbdd6;
  border-radius: 3.125rem;
}

body::-webkit-scrollbar-track {
  background-color: #ffdee9;
}

@media screen and (max-width: 62.5rem) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 90rem) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 400px) {
  .App__sidebar {
    width: 40%;
    position: fixed;
    z-index: 11;
    border-right: 1px solid #9dbdd6;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .App__nav-toggle {
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .App__burgerMenu {
    position: absolute;
    z-index: 10;
    right: 8%;
    top: 6.3%;
    height: 2.5rem;
    width: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(3, 129, 255, 0.144);
    cursor: pointer;
  }
  .App__burgerMenu .fa-bars {
    font-size: calc(1.5rem + ((2vw - 7.68px) * 0.6944));
    color: #0f1a23;
  }
  .App__main-content {
    width: 100%;
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    position: relative;
  }
  .App__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 2rem;
  }
}

@media (min-width: 48em) {
  .App__burgerMenu {
    height: 2.8rem;
    width: 2.8rem;
  }
  .App__content {
    padding: 3rem 4rem;
  }
}

@media (min-width: 64em) {
  .App__sidebar {
    width: 20%;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .App__nav-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .App__burgerMenu {
    display: none;
  }
  .App__main-content {
    width: 80%;
    margin-left: 20%;
  }
  .App__content {
    padding: 3rem 5rem;
  }
}

@media (min-width: 75em) {
  .App__content {
    padding: 3rem 8rem;
  }
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #ffdee9;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ffdee9), to(#b5fffc));
  background-image: linear-gradient(0deg, #ffdee9 30%, #b5fffc 100%);
}

.navBar__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.navBar__profile-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 1rem;
  border-bottom: 1px solid #9dbdd6;
}

.navBar__profile-pic img {
  width: 70%;
  border-radius: 40%;
  border: 1px solid #afc3da;
  margin-bottom: 1rem;
}

.navBar__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 0;
}

.navBar__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navBar__nav-item a {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  display: block;
  padding: 0.5rem 0;
  position: relative;
  width: 100%;
  text-align: center;
}

.navBar__nav-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.4rem;
  height: 100%;
  background-color: rgba(3, 129, 255, 0.2);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow-x: hidden;
  -webkit-transition: 0.2s width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67), -webkit-transform 0.4s;
  transition: 0.2s width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67), -webkit-transform 0.4s;
  transition: transform 0.4s, 0.2s width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: transform 0.4s, 0.2s width 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67), -webkit-transform 0.4s;
}

.navBar__nav-item a:hover::before {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navBar .active {
  background-color: rgba(3, 127, 255, 0.396);
}

.navBar__footer {
  width: 100%;
  border-top: 1px solid #9dbdd6;
  font-size: calc(0.8125rem + ((1vw - 7.68px) * 0.6944));
}

.navBar__footer p {
  text-align: center;
  padding: 1rem 0;
}

.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.homePage__first-wrapper {
  width: 100%;
  height: 40%;
}

.homePage__second-wrapper {
  width: 100%;
  height: 60%;
}

.homePage__home-title {
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
}

.homePage__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homePage__hero-header {
  color: #2d506b;
  text-align: center;
  font-size: calc(3rem + ((1vw - 7.68px) * 0.6944));
}

.homePage__hero-header span {
  color: #0f1a23;
}

.homePage__brief-about {
  text-align: center;
  color: #2d506b;
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
}

.homePage__icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0;
}

.homePage__icons {
  margin-right: 1rem;
}

.homePage__icons .fa-linkedin,
.homePage__icons .fa-github {
  font-size: calc(2.5rem + ((1vw - 7.68px) * 0.6944));
}

.homePage__icons .fa-linkedin:hover {
  color: #0095ff;
}

.homePage__icons .fa-github:hover {
  color: rgba(24, 1, 15, 0.733);
}

@media (min-width: 64em) {
  .homePage__services-skills-title {
    width: 100%;
    height: 5rem;
  }
}

.Title {
  text-transform: uppercase;
  font-size: calc(2rem + ((1vw - 7.68px) * 0.6944));
  color: #fff;
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 0.125rem;
}

.Title::before {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  top: 57%;
  background-color: #0381ff38;
  width: 6rem;
  height: 0.3rem;
  border-radius: 3.125rem;
}

.Title::after {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  top: 57%;
  background-color: #004892;
  opacity: 0.8;
  width: 3rem;
  height: 0.3rem;
  border-radius: 3.125rem;
}

.Title span {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: calc(3rem + ((1vw - 7.68px) * 0.6944));
  opacity: 0.06;
}

@media screen and (max-width: 400px) {
  .Title {
    width: 80%;
    font-size: calc(1.5rem + ((1vw - 7.68px) * 0.6944));
  }
  .Title span {
    width: 90%;
    font-size: calc(2.1rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media screen and (max-width: 320px) {
  .Title span {
    width: 90%;
    font-size: calc(2rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media (min-width: 400px) {
  .aboutPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .aboutPage__services-skills-title {
    height: 5rem;
  }
  .aboutPage__image-sec-container, .aboutPage__skills-type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: 2rem;
  }
  .aboutPage__image-sec-container:not(:last-child), .aboutPage__skills-type-container:not(:last-child) {
    margin-bottom: 1rem;
  }
  .aboutPage__downloadResume {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
    padding: 1rem 0;
    margin-bottom: 3rem;
  }
  .aboutPage__skills-type-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 48em) {
  .aboutPage__skills-type-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 64em) {
  .aboutPage__services-skills-title {
    width: 100%;
    height: 5rem;
  }
  .aboutPage__skills-type-container {
    width: 100%;
  }
  .aboutPage__downloadResume {
    width: 100%;
  }
}

@media (min-width: 75em) {
  .aboutPage {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 400px) {
  .profileDetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profileDetails__profile-img {
    width: 100%;
    height: auto;
    padding-top: 60.5%;
    padding-bottom: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.1)), to(rgba(50, 50, 50, 0.1))), url("../assets/images/profile-sunny-day.jpg");
    background: linear-gradient(rgba(50, 50, 50, 0.1), rgba(50, 50, 50, 0.1)), url("../assets/images/profile-sunny-day.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .profileDetails__about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.5rem;
  }
  .profileDetails__about-info h4 {
    font-size: calc(1.5rem + ((1vw - 7.68px) * 0.6944));
    font-weight: bold;
  }
  .profileDetails__about-info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Linotype";
    font-size: calc(1.2rem + ((1vw - 7.68px) * 0.6944));
    line-height: 1.3rem;
  }
  .profileDetails__about-info p:not(:last-child) {
    padding-bottom: 0.3rem;
  }
}

@media (min-width: 48em) {
  .profileDetails {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .profileDetails__profile-img {
    width: 40%;
    padding-top: 25%;
    padding-bottom: 15%;
  }
  .profileDetails__about-info {
    width: 60%;
    margin-top: 0;
    padding-left: 0.5rem;
  }
  .profileDetails__about-info p {
    font-size: calc(1.3rem + ((1vw - 7.68px) * 0.6944));
    line-height: 1.2em;
  }
}

@media (min-width: 64em) {
  .profileDetails__profile-img {
    padding-bottom: 15%;
  }
  .profileDetails__about-info p {
    font-size: calc(1.3rem + ((1vw - 7.68px) * 0.6944));
    line-height: 1.3em;
  }
  .profileDetails__about-info p:not(:last-child) {
    padding-bottom: 0.4rem;
  }
}

.resume-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.resume-download__CV-btn {
  width: 60%;
  height: 3rem;
  background-color: rgba(3, 127, 255, 0.396);
  outline: none;
  border: none;
  font-family: inherit;
  font-size: calc(0.975rem + ((1vw - 7.68px) * 0.6944));
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  position: relative;
}

.resume-download__CV-btn::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.4rem;
  left: 0;
  bottom: 0;
  background-color: #a4acc4;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.resume-download__CV-btn:hover::after {
  width: 100%;
}

@media (min-width: 48em) {
  .resume-download__CV-btn {
    height: 4rem;
    width: 40%;
  }
}

@media (min-width: 400px) {
  .skillsSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: auto;
  }
  .skillsSection__skills-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25%;
    height: 8rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 0 20px 10px #fff;
            box-shadow: 0 0 20px 10px #fff;
    border-top: 8px solid #9dbdd6;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .skillsSection__skills-type:not(:last-child) {
    margin-right: 1rem;
  }
  .skillsSection__skills-type:hover {
    border-top: 8px solid #004892;
  }
  .skillsSection__skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #a9c9ff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a9c9ff), to(#ffbbec));
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
  }
  .skillsSection__skills-list-header {
    font-family: "Linotype";
    font-size: calc(1.1rem + ((1vw - 7.68px) * 0.6944));
    font-weight: bold;
    padding: 0.5rem 0.5rem 1rem;
  }
  .skillsSection__skills-content {
    font-family: "Titillium Web";
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
    line-height: 1.3em;
  }
}

@media (min-width: 31.25em) {
  .skillsSection {
    width: 100%;
  }
  .skillsSection__skills-type {
    height: 9rem;
  }
}

@media (min-width: 48em) {
  .skillsSection__skills-type {
    height: 10rem;
  }
}

@media (min-width: 75em) {
  .skillsSection__skills-type {
    height: 11rem;
  }
}

.blogsPage {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogsPage__blog-title {
  padding-bottom: 2rem;
}

.blogsPage__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-top: 3rem;
}

.blogsPage__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 25%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.blogsPage__content-image {
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding-bottom: 0.5rem;
}

.blogsPage__content-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogsPage__link-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogsPage__content-link-title {
  color: inherit;
  font-family: inherit;
  padding: 0.5rem 0;
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.blogsPage__content-link-title:hover {
  color: #0f1a23;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

@media (min-width: 400px) {
  .contactPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .contactPage__contact-title {
    padding-bottom: 2rem;
  }
  .contactPage__map-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }
  .contactPage__map-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 16rem;
    margin-right: 1rem;
    border: 0.5px solid rgba(3, 129, 255, 0.2);
  }
  .contactPage__map-section iframe {
    border: 0;
    width: 100%;
    height: 100%;
  }
  .contactPage__details-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    font-family: "Titillium Web";
    font-size: calc(0.875rem + ((1vw - 7.68px) * 0.6944));
    line-height: 1.3em;
  }
  .contactPage__details-section a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #2d506b;
    margin-bottom: 1rem;
  }
}

@media (min-width: 31.25em) {
  .contactPage__map-info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    width: 100%;
    height: auto;
  }
  .contactPage__map-section {
    width: 100%;
    height: 17rem;
  }
}

@media (min-width: 48em) {
  .contactPage__map-section {
    height: 19rem;
  }
}

@media (min-width: 64em) {
  .contactPage__map-section {
    height: 20.5rem;
  }
}

@media (min-width: 75em) {
  .contactPage__map-section {
    height: 21.5rem;
  }
}

.contactList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  width: 100%;
  -webkit-box-shadow: 0 0 20px 10px white;
          box-shadow: 0 0 20px 10px white;
  background-color: rgba(3, 129, 255, 0.055);
}

.contactList:not(:last-child) {
  margin-bottom: 1rem;
}

.contactList__item-icon {
  padding: 0.5rem;
  margin-left: 2rem;
  width: 16%;
  border-radius: 0px 18px;
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}

.contactList__title-text-container {
  margin-left: 1rem;
}

.contactList__item-title {
  font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  font-weight: 500;
}

.contactList__item-text {
  font-size: calc(0.8125rem + ((0.8125vw - 7.68px) * 0.6944));
}

@media (min-width: 48em) {
  .contactList {
    width: 60%;
  }
  .contactList__item-icon {
    height: 4.5rem;
    width: 18%;
  }
  .contactList__item-title {
    font-size: calc(1.2rem + ((1vw - 7.68px) * 0.6944));
  }
  .contactList__item-text {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media (min-width: 400px) {
  .portMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .portMenu__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
    width: 100%;
    height: 30rem;
    background-color: rgba(6, 9, 7, 0.1);
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
  }
  .portMenu__menu-list:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0pxgit 18px 8px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 0pxgit 18px 8px -10px rgba(0, 0, 0, 0.75);
    background-color: #0f1a23;
    color: #ffffffab;
  }
  .portMenu__menu-list:hover .project-name-hover h4,
  .portMenu__menu-list:hover .stack-hover-color h4 {
    color: rgba(255, 255, 0, 0.685);
  }
  .portMenu__menu-list:hover .project-website-hover a {
    font-weight: bold;
    color: pink;
  }
  .portMenu__project-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50%;
    position: relative;
    padding-top: 56.25%;
  }
  .portMenu__project-thumb img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .portMenu__project-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem 0.3rem;
    height: 50%;
  }
  .portMenu__project-title-website {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .portMenu__project-name, .portMenu__project-website {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
  .portMenu__project-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .portMenu__project-name h4 {
    font-size: calc(1.3rem + ((1vw - 7.68px) * 0.6944));
    color: #2d506b;
    font-weight: 600;
    color: #2d506b;
    padding: 0.3rem;
    border-radius: 0.2rem;
    border: 0.3px solid rgba(6, 9, 7, 0.1);
    -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  }
  .portMenu__project-name h4:hover {
    background-color: rgba(169, 197, 178, 0.329);
    cursor: pointer;
  }
  .portMenu__project-website {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .portMenu__project-website a {
    text-transform: uppercase;
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
    font-weight: 600;
    color: #2d506b;
    padding: 0.3rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  .portMenu__project-website a:hover {
    background-color: rgba(169, 197, 178, 0.329);
  }
  .portMenu__project-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.5rem 0 1rem;
  }
  .portMenu__project-stacks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .portMenu__project-stacks h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
    line-height: 1.2em;
    font-weight: 600;
    color: #0f1a23;
    padding: 0.1rem;
  }
  .portMenu__project-stacks h4:not(:last-child) {
    margin-right: 0.8rem;
  }
}

@media (min-width: 31.25em) {
  .portMenu__menu-list {
    width: 65%;
    height: 30rem;
  }
  .portMenu__project-website a {
    font-size: calc(0.875rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media (min-width: 48em) {
  .portMenu__menu-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 20rem;
  }
  .portMenu__project-thumb, .portMenu__project-content {
    width: 50%;
    height: 100%;
  }
  .portMenu__project-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-top: 30%;
  }
  .portMenu__project-website a {
    font-size: calc(0.775rem + ((1vw - 7.68px) * 0.6944));
  }
  .portMenu__project-stacks h4 {
    font-size: calc(0.925rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media (min-width: 64em) {
  .portMenu__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    height: 30rem;
  }
  .portMenu__project-thumb, .portMenu__project-content {
    width: 100%;
    height: 100%;
  }
  .portMenu__project-name h4 {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
  }
  .portMenu__project-stacks h4 {
    font-size: calc(0.725rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media (min-width: 75em) {
  .portMenu__project-name h4 {
    font-size: calc(0.825rem + ((1vw - 7.68px) * 0.6944));
  }
  .portMenu__project-website a, .portMenu__project-stacks a {
    font-size: calc(0.575rem + ((1vw - 7.68px) * 0.6944));
  }
  .portMenu__project-website h4, .portMenu__project-stacks h4 {
    font-size: calc(0.625rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media (min-width: 400px) {
  .portCategories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 2rem;
    width: 100%;
  }
  .portCategories__filter-btn {
    width: 6rem;
    padding: 0.6rem;
    margin: 0.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(3, 129, 255, 0.281);
    border: 1px solid #b5fffc;
    border-radius: 0 1rem;
    font-size: calc(0.8125rem + ((1vw - 7.68px) * 0.6944));
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .portCategories__filter-btn:hover {
    background-color: #0f1a23;
    color: #fff;
  }
  .portCategories__filter-btn:active {
    background-color: #2d506b;
    color: #fff;
  }
  .portCategories__filter-btn:focus {
    background-color: #2d506b;
    color: #fff;
  }
}

@media (min-width: 31.25em) {
  .portCategories__filter-btn {
    width: 6.5rem;
  }
}

@media (min-width: 64em) {
  .portCategories__filter-btn {
    font-size: calc(0.7125rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media (min-width: 75em) {
  .portCategories__filter-btn {
    width: 6.7rem;
    padding: 0.7rem;
    font-size: calc(0.7125rem + ((1vw - 7.68px) * 0.6944));
  }
}

@media (min-width: 400px) {
  .portfolioPage {
    width: 100%;
  }
  .portfolioPage__portfolio-title {
    width: 100%;
    height: 5rem;
  }
  .portfolioPage__portfolio-content {
    width: 100%;
    margin-top: 0.5rem;
  }
}

@media (min-width: 48em) {
  .portfolioPage__portfolio-content {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=App.css.map */